---
import Image from 'astro/components/Image.astro';
import Layout from '../layouts/Layout.astro';
import Icon from '../components/Icon.component.astro';
import dylanImg from '../../public/img/dylan.webp';
import PokemonGame from '@/vue/pages/PokemonGame.vue';
interface SocialMedia {
	name: 'github' | 'mail' | 'linkedin' | 'instagram';
	url: string;
}
const socialMedia: SocialMedia[] = [
	{ name: 'github', url: 'https://github.com/dylanson25' },
	{ name: 'mail', url: 'mailto:dvillarreal0@ucol.mx' },
	{ name: 'linkedin', url: 'https://www.linkedin.com/in/dylan-toscano/' },
	{ name: 'instagram', url: 'https://www.instagram.com/dylan_toscano_25/' },
];
---

<Layout
	title="Dylanson25 | Portafolio"
	description="Development, experienced in Visual Studio, C#, C++, .NET, and Windows Forms. Graduated in Software Engineering from Universidad de Colima"
>
	<header class="w-fit mx-auto px-10 pt-6 pb-4 rounded-b-lg bg-slate-500/50">
		<h2 class="font-semibold text-gray-200/70 text-center mb-2">
			Dylanson25.dev
		</h2>
		<ul class="grid gap-6 grid-cols-4">
			{
				socialMedia.map(({ name, url }) => (
					<li class="hover:drop-shadow-[0_0_10px_rgba(245,245,245,0.50)] hover:fill-white fill-[#e4e2e2]">
						<a href={url} target="_blank">
							<Icon fill_hover="white" size="lg" name={name} />
						</a>
					</li>
				))
			}
		</ul>
	</header>
	<div
		class="flex overflow-auto sm:h-3/4 sm:overflow-hidden justify-center items-center w-full pb-20 pt-3 sm:pb-0"
	>
		<div class="sm:flex max-w-4xl justify-between items-center lg:w-2/4">
			<section class="mb-7 sm:mb-0 sm:mr-3 xl:m-8">
				<div
					class="relative rounded-full m-auto overflow-hidden w-60 h-60 md:h-72 md:w-72"
				>
					<Image
						class="absolute -top-16"
						src={dylanImg}
						width={450}
						alt="Imagen Dylan Villarreal Toscano"
					/>
				</div>
				<h1
					class="font-semibold w-full md:w-72 text-gray-200 text-center mt-5 text-3xl"
				>
					Dylan <br /> Villrarreal Toscano
				</h1>
			</section>
			<PokemonGame client:load />
		</div>
		<article class="fixed left-5 bottom-5 md:hidden">
			<h2 class="text-xl text-slate-100/50 font-extrabold">
				My New Site Is <br /> Coming Soon!
			</h2>
		</article>
	</div>
</Layout>
