---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dylanson25 | Portafolio">
	<main
		class="flex justify-center items-center h-full w-full bg-slate-700 font-sans"
	>
		<section
			class="-rotate-12 bg-orange-300 rounded-lg p-2 w-full h-full max-h-56 max-w-64"
		>
			<h2 class="font-semibold text-4xl leading-10 font-mono">
				My New <br /> Site Is <br /> Coming <br /> Soon!
			</h2>
		</section>
	</main>
</Layout>
