---
import type { Preload } from '../models/preload.model';

interface Props {
	title: string;
	description: string;
	preload?: Array<Preload>;
	canonical?: string;
	image?: string;
}

const {
	title,
	description,
	preload,
	canonical,
	image = 'example.jpg',
} = Astro.props as Props;

const determineCanonicalURL = () => {
	if (Astro.url.host.includes('localhost')) return 'http://localhost:4321';
	return canonical || Astro.url.pathname;
};

const canonicalURL = new URL(determineCanonicalURL(), Astro.site);
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="canonical" href={canonicalURL} />
<meta name="viewport" content="width=device-width" />
<meta
	name="keywords"
	content="software, developer, frontend, front, developer, dylanson25, dylan, villarreal, toscano, portafolio, desarrollador"
/>

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
